{% extends "base.html" %}
{% block jumbotron_custom %}
    <form action="" method="post" class="form-inline">
        {{ form.hidden_tag() }}
        {{ form.vk_id(class_="form-control mr-3", placeholder="e.g. andrew or id1") }}
        {% for subfield in form.api %}
            <div class="form-check form-check-inline">
                {{ subfield }}
                {{ subfield.label(class_="form-check-label") }}
            </div>
        {% endfor %}
        <div class="form-check form-check-inline">
            {{ form.name(class_="form-check-input", checked=request.method == 'GET' or request.args.get('name') == 'y') }}
            {{ form.name.label(class_="form-check-label") }}
        </div>
        <div class="form-check form-check-inline">
            {{ form.date(class_="form-check-input", checked=request.method == 'GET' or request.args.get('date') == 'y') }}
            {{ form.date.label(class_="form-check-label") }}
        </div>
        <div class="form-check form-check-inline">
            {{ form.age(class_="form-check-input", checked=request.method == 'GET' or request.args.get('age') == 'y') }}
            {{ form.age.label(class_="form-check-label") }}
        </div>
        {{ form.submit(class_="btn btn-primary mb-2") }}
    </form>
{% endblock %}
{% block content %}

    <div class="container">
        {% if data %}
            <div class="row mb-3">
                <div class="col-12">
                    <h2>Found by Country</h2>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <div id="regions_div" style="width: 100%; height: 500px;"></div>
                </div>
            </div>
        {% endif %}

        <h2>People Found</h2>
        <div class="row" style="margin-left: 0px;">
            {% if data %}
                <div class="card-group">
                    {% for item in data %}
                        <div class="card" style="min-width: 25%">
                            <div style="height:300px; overflow: hidden;">
                                {% if item['picture'] %}
                                    <img class="card-img-top" src="{{ item['picture']['value'] }}" alt="Card image cap">
                                {% else %}
                                    <img class="card-img-top"
                                         src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                                         alt="Card image cap">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ item['full_name']['value'] }}</h5>
                                <p class="card-text"><strong>Birthday: </strong> {{ item['date']['value'] }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('person', uri=item['person']['value']) }}"
                                   class="btn btn-sm btn-primary">Show profile</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% elif request.method == 'POST' %}
                <div class="col-12">
                    <div class="alert alert-warning">No data :(</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% if data %}
    {% block footer_scripts %}
        <script>
          google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY',
          })
          google.charts.setOnLoadCallback(drawRegionsMap)

          function drawRegionsMap () {
            var data = google.visualization.arrayToDataTable([
              ['Country', 'Popularity'],
              {% for country, number in countries.items() %}
                ['{{ country }}', {{ number }}],
              {% endfor %}
            ])

            var options = {}

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'))

            chart.draw(data, options)
          }
        </script>
    {% endblock %}
{% endif %}
