{% extends "base.html" %}

{% block jumbotron_custom %}
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back to search</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if father or mother or siblings or spouse %}
                <div class="card-group">
                    {% if father %}
                        <div class="card">
                            {% if father['picture'] %}
                                <img class="card-img-top" src="{{ father['picture']['value'] }}" alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ father['full_name']['value'] }}
                                    <small class="text-muted">(Father)</small>
                                </h5>
                                <p class="card-text"><strong>Birthday: </strong> {{ father['date']['value'] }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('person', uri=father['relative']['value']) }}"
                                   class="btn btn-sm btn-primary">Show relatives</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if mother %}
                        <div class="card">
                            {% if mother['picture'] %}
                                <img class="card-img-top" src="{{ mother['picture']['value'] }}" alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ mother['full_name']['value'] }}
                                    <small class="text-muted">(Mother)</small>
                                </h5>
                                <p class="card-text"><strong>Birthday: </strong> {{ mother['date']['value'] }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('person', uri=mother['relative']['value']) }}"
                                   class="btn btn-sm btn-primary">Show relatives</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if spouse %}
                        <div class="card">
                            {% if spouse['picture'] %}
                                <img class="card-img-top" src="{{ spouse['picture']['value'] }}" alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ spouse['full_name']['value'] }}
                                    <small class="text-muted">(Spouse)</small>
                                </h5>
                                <p class="card-text"><strong>Birthday: </strong> {{ spouse['date']['value'] }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('person', uri=spouse['relative']['value']) }}"
                                   class="btn btn-sm btn-primary">Show relatives</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if siblings %}
                        {% for sibling in siblings %}
                            <div class="card">
                                {% if sibling['picture'] %}
                                    <img class="card-img-top" src="{{ sibling['picture']['value'] }}"
                                         alt="Card image cap">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ sibling['full_name']['value'] }}
                                        <small class="text-muted">(Sibling)</small>
                                    </h5>
                                    <p class="card-text"><strong>Birthday: </strong> {{ sibling['date']['value'] }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ url_for('person', uri=sibling['relative']['value']) }}"
                                       class="btn btn-sm btn-primary">Show relatives</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning">No data :(</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}