{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block jumbotron_custom %}
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back to search</a>
{% endblock %}

{% block content %}
    <div class="container">
        {% if profile %}
            <div class="row mb-5">
                <div class="col-3">
                    {% if 'image' in profile %}
                        <img src="{{ profile['image']['value'] }}" alt="" class="img-fluid">
                    {% else %}
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="">
                    {% endif %}
                </div>
                <div class="col-7">
                    <h1>{{ profile['name']['value'] }}</h1>
                    <ul>
                        {% if 'gender' in profile %}
                            <li><strong>Gender: </strong>{{ profile['gender']['value'] }}</li>
                        {% endif %}
                        {% if 'date' in profile %}
                            <li><strong>Birth date: </strong>{{ profile['date']['value'] }}</li>
                        {% endif %}
                        {% if 'country' in profile or 'city' in profile %}
                            <li><strong>Birth place: </strong>
                                {% if 'country' in profile %}
                                    {{ profile['country_name']['value'] }},
                                {% endif %}
                                {% if 'city' in profile %}
                                    {{ profile['city_name']['value'] }}
                                {% endif %}</li>
                        {% endif %}
                        {% if 'abstract' in profile %}
                            <li><strong>Short bio:</strong><br>{{ profile['abstract']['value'] }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="row">
            {% if father or mother or siblings or spouse %}
                <h2>Relatives</h2>
                </div>
                <div class="row">
                <div class="card-group">
                    {% if father %}
                        {{ macros.card(father, 'father') }}
                    {% endif %}
                    {% if mother %}
                        {{ macros.card(mother, 'mother') }}
                    {% endif %}
                    {% if spouse %}
                        {{ macros.card(spouse, 'spouse') }}
                    {% endif %}
                    {% if siblings %}
                        {% for sibling in siblings %}
                            {{ macros.card(sibling, 'sibling') }}
                        {% endfor %}
                    {% endif %}
                </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning">No data :(</div>
                </div>
            {% endif %}
            </div>
    </div>
{% endblock %}